<select name="id_tags" id="tags" class="select" multiple>
    <option value="-1" disabled selected>Choose categories</option>
    {{#each tags}}
    <option value="{{this._id}}">{{this.label}}</option>
    {{/each}}
</select>