<h2>Shopping cart</h2>

<tbody>
  {{#each sneakers}}
    <tr class="table-row">
      {{> dashboard_sneaker_row}}
    </tr>
  {{/each}}
  {{#unless sneakers}}
    <tr>
      <td colspan="6">sorry no sneakers yet</td>
    </tr>
  {{/unless}}
</tbody>